.container{
  display: grid;
  grid-template-areas: 
  'h h h'
  'n m a'
  'f f f';
  grid-template-columns: 130px auto 100px;
  grid-template-rows: 50px auto 50px;
}



.aside{
  grid-area: a;
  background-color: rgba(201, 144, 255, 0.177);
}
.footer{
  grid-area: f;
  background-color: rgba(165, 165, 255, 0.21);
}


h3{
  padding-left: 10px;
}
a{
  padding: 5px;
  cursor: pointer;
}
button{
  cursor: pointer;
}